In [1]:
# import os
import glob
import numpy as np
import pandas as pd
import matplotlib as mpl
from matplotlib.lines import Line2D
%matplotlib inline
import matplotlib.pyplot as plt
import re
from matplotlib import gridspec
import scipy.stats as stats
import researchpy as rp
from scipy.stats import gaussian_kde
import seaborn as sns
import itertools


import baltic as bt
import time

from collections import OrderedDict
from matplotlib import rcParams 
# from matplotlib import style
from matplotlib.colors import ListedColormap # control color in seaborn heatmap
from matplotlib.patches import Patch
from matplotlib.patches import Rectangle
import matplotlib.patheffects as path_effects
# matplotlib.rcParams['figure.figsize'] = (16.0, 9.0)
# style.use('ggplot')

# print rcParams.keys()

try:
    from itertools import product
except ImportError:
    # product is new in v 2.6
    def product(*args, **kwds):
        pools = map(tuple, args) * kwds.get('repeat', 1)
        result = [[]]
        for pool in pools:
            result = [x+[y] for x in result for y in pool]
        for prod in result:
            yield tuple(prod)

def logMatrix(matrix):
    transformed_matrix=[]
    transformed_matrix=np.log10(matrix+1)
    return transformed_matrix

def logMatrixWNeg(matrix):
    transformed_matrix=[]
    transformed_matrix=np.log10(matrix-matrix.min()+1)
    return transformed_matrix

def raster_extracter(raster,xcor,ycor):
    with open(raster,'r') as raster_file:
        raster_header=raster_file.readlines()[:6]
    raster_header=[item.strip().split()[-1] for item in raster_header]
    raster_xll=float(raster_header[2])
    raster_yll=float(raster_header[3])
    raster_cs=float(raster_header[4])
    #raster_nodata=float(raster_header[5])
    raster_array=np.loadtxt(raster,dtype=np.float,skiprows=6)
    #raster_array[raster_array==raster_nodata]=np.nan
    raster_array*=0.01
    cell=[]
    for xc,yc in zip(xcor,ycor):
        long_cell=abs(raster_xll-xc)
        long_index=int(long_cell/raster_cs)
        lat_cell=abs(raster_yll-yc)
        lat_index=int(lat_cell/raster_cs)
        cell.append(raster_array[lat_index][long_index])
    return cell

In [2]:
palms_all_variables=pd.read_csv('C:/Users/xtorrm/Documents/Palm_leaf/2020/palms_alltraits_curated_20200604_old.csv',sep='\t')

In [3]:
palms_all_variables

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,index,species,Unnamed: 0.1.1.1.1.1.1,bio1,...,bio15_stand,nutrient_avail_stand,nutrient_retention_stand,rooting_conditions_stand,oxygen_avail_toroots_stand,excess_salts_stand,workability_stand,MaxLeafNumber_stand,Max_Rachis_Length_m_stand,StemHeightBladeLength_stand
0,0,0,0,0,0,0,0,Acoelorraphe_wrightii,79711.0,255.0,...,0.220271,-0.627754,-0.613266,-0.536553,-0.552063,-0.564734,-0.549194,1.300349,-0.817543,0.604236
1,1,1,1,1,1,1,1,Acrocomia_aculeata,41906.0,252.0,...,0.841938,-0.627754,-0.613266,-0.536553,-0.552063,-0.564734,-0.549194,1.638370,0.599835,0.992435
2,2,2,2,2,2,2,2,Acrocomia_crispa,31243.0,247.0,...,0.386049,-0.627754,-0.613266,-0.536553,-0.552063,-0.564734,-0.549194,0.367317,NaN,1.183182
3,3,3,3,3,3,3,3,Acrocomia_emensis,66724.0,203.0,...,0.966271,-0.627754,-0.613266,-0.536553,-0.552063,-0.564734,-0.549194,NaN,NaN,-1.568373
4,4,4,4,4,4,4,4,Acrocomia_glaucescens,49651.5,240.0,...,1.007716,-0.627754,-0.613266,-0.536553,-0.552063,-0.564734,-0.549194,NaN,NaN,-1.568373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2618,2618,2618,2618,2618,2618,2618,834,Calamus_speciosissimus,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.060580,NaN
2619,2619,2619,2619,2619,2619,2619,835,Hyophorbe_vaughanii,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.517608,NaN,0.481393
2620,2620,2620,2620,2620,2620,2620,836,Orania_oreophila,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.221366,0.090476,0.119108
2621,2621,2621,2621,2621,2621,2621,837,Licuala_ruthiae,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.517608,NaN,-1.568373
2622,2622,2622,2622,2622,2622,2622,838,Heterospathe_trispatha,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.738399,NaN,-0.126808

list(palms_all_variables.columns)

In [4]:
palms_all_variables['Climbing'].unique()

array([ 0., nan,  1.,  2.])

In [6]:
climbing=palms_all_variables[(palms_all_variables['Climbing']==1) | (palms_all_variables['Climbing']==2) | (palms_all_variables['Climbing'].isna())]
climbing.to_csv('./climbing_spp_20200827.txt',sep='\t')

In [22]:
climbing.groupby(by='shape').count()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,index,species,Unnamed: 0.1.1.1.1.1.1,bio1,...,bio15_stand,nutrient_avail_stand,nutrient_retention_stand,rooting_conditions_stand,oxygen_avail_toroots_stand,excess_salts_stand,workability_stand,MaxLeafNumber_stand,Max_Rachis_Length_m_stand,StemHeightBladeLength_stand
shape,,,,,,,,,,,,,,,,,,,,,
cospalmate,10,10,10,10,10,10,10,10,4,4,...,4,4,4,4,4,4,4,0,0,10
entire,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,0,1
pinnate,560,560,560,560,560,560,560,560,337,337,...,337,337,337,337,337,337,337,0,280,95
variable,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,1,1,3

In [25]:
noclimbing=palms_all_variables[palms_all_variables['Climbing']==0]
noclimbing.groupby(by='shape').count()[['species','bio1_stand','nutrient_avail_stand','StemHeightBladeLength_stand']]

,species,bio1_stand,nutrient_avail_stand,StemHeightBladeLength_stand
shape,,,,
bipinnate,14,10,10,14
cospalmate,430,263,263,430
entire,107,76,76,107
pinnate,1312,1011,1011,1312
variable,75,71,71,75

In [26]:
noclimbing.to_csv('C:/Users/xtorrm/Documents/Palm_leaf/2020/palms_alltraits_curated_20200604.csv',sep='\t')